<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Language Comparison</title>
    <link rel="stylesheet" href="../../base/style.css">
</head>
<body>
    <table class="code">
        <tr>
            <th>Objective</th>
            <th>C#</th>
            <th>Python</th>
            <th>PHP</th>
        </tr>
        <tr>
            <td class="subheading" colspan="4">Strings</td>
        </tr>
        <tr>
            <td>Trim</td>
            <td></td>
            <td></td>
            <td>trim()</td>
        </tr>
        <tr>
            <td class="subheading" colspan="4">Transformations</td>
        </tr>
        <tr>
            <td>Make Lowercase</td>
            <td></td>
            <td></td>
            <td><span class="code">strtolower(<span class="variable">$string</span>)</span></td>
        </tr>
        <tr>
            <td class="subheading" colspan="4">Array</td>
        </tr>
    </table>
    
</body>
</html>