<!DOCTYPE html>
<html>
  <nav>
    <ul id="navbar">
      <li>Home</li>
      <li>
        Areas of Expertise
        <ul>
          <li><a href="">Data Analysis</a></li>
          <li><a href="">Data Engineering</a></li>
          <li><a href="">Data Science</a></li>
          <ul>
            <li><a href="">Statistics</a></li>
            <li><a href="">Probability</a></li>
          </ul>
          <li><a href="">Programming and Markup Languages</a></li>
          <ul>
            <li><a href="">HTML/CSS</a></li>
            <li><a href="">C#</a></li>
            <li><a href="">JavaScript</a></li>
          </ul>
        </ul>
      </li>
      <li><a href="">Personal Links</a></li>
      <li>About Us
        <ul>
          <li><a href="/about/jim-morgan">Jim Morgan</a></li>
        </ul>
      </li>
      <li>Contact</li>
    </ul>
    <script src="" async defer></script>
  </nav>
</html>
