<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="navigations.css">
    </head>
    <body>
        <ul id="navbar">
          <li>Data Analysis</li>
          <li>Data Engineering</li>
          <li>Data Science</li>
          <ul>
            <li>Statistics</li>
            <li>Probability</li>
          </ul>
          <li>Programming and Markup Languages</li>
          <ul>
            <li>HTML/CSS</li>
            <li>C#</li>
            <li>JavaScript</li>
          </ul>
          <li>Personal Links</li>
        </ul>
        <script src="" async defer></script>
    </body>
</html>