<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="web-design.css" />
  </head>
  <body>
    <h1>HTML Reference</h1>
    <div class="reference-character-tags">
      <h2>Reference Characters</h2>
      <p>The following keyboard shortcut is also known as the 'end of the world spell' in warcraft: <kbd>ctrl-alt-delete</kbd></p>
      <p></p>
    </div>
    <div class="reference-tables">
      <h2>Reference Tables</h2>
      <table>
        <tr>
          <th>Literal character</th>
          <th>Character reference equivalent</th>
        </tr>
        <tr>
          <td>&lt;</td>
          <td>&amp;lt;</td>
        </tr>
        <tr>
          <td>&gt;</td>
          <td>&amp;gt;</td>
        </tr>
        <tr>
          <td>&quot;</td>
          <td>&amp;quot;</td>
        </tr>
        <tr>
          <td>&apos;</td>
          <td>&amp;apos;</td>
        </tr>
        <tr>
          <td>&amp;</td>
          <td>&amp;amp;</td>
        </tr>
      </table>
    </div>
  </body>
</html>
